{% extends 'SMASMABundle:Public:templatedetail.html.twig' %}

{% block body -%}
    <h1>Nilai2 creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('nilai2') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
