{% extends 'SMASMABundle:Admin:template.html.twig' %}

{% block body -%}
    <div class="judul-halaman">Tambah Absen Siswa</div>

    <form action="{{ path('page_simpanabsensi') }}" method="post">
        <table cellspacing=10>      
            <tr><td valign=top>Nama</td><td><input type="text" name="nama" required="required" class="text-input"></td></tr>
            <tr><td valign=top>Kelas</td>
                <td>
                    <select name="kelas" class="text-input">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>

                    </select     
                </td></tr>
            <tr><td valign=top>Sub-Kelas</td>
                <td>
                    <select name="subkelas" class="text-input">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>

                    </select     
                </td></tr>
            <tr><td valign=top>Kehadiran</td>
                <td>
                    <select name="absen" class="text-input">
                        <option value="Hadir">Hadir</option>
                        <option value="Absen">Absen</option>
                        <option value="Sakit">Sakit</option>
                        <option value="Izin">Izin</option>
                        
                    </select></td></tr>
                    
                    <tr><td>&nbsp;</td><td><input type="submit" name="submit" value="Simpan" class="button"></td></tr>
            </table>
    </form>  
{% endblock %}
