{% extends 'SMASMABundle:Admin:template.html.twig' %}

{% block body -%}
    <div class="judul-halaman">Tambah Data Siswa</div>

    <form action="{{ path('page_simpansiswa') }}" method="post">
        <table cellspacing=10>
            <tr><td width=120>Nis</td><td><input type="text" name="nis" required="required" class="text-input"></td></tr>        
            <tr><td valign=top>Nama</td><td><input type="text" name="nama" required="required" class="text-input"></td></tr>
            <tr><td valign=top>Email</td><td><input type="email" name="email" required="required" class="text-input" size="30"></td></tr>
            <tr><td valign=top>Kelas</td>
                <td>
                    <select name="kelas" class="text-input">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>

                    </select     
                </td></tr>
            <tr><td valign=top>Jurusan</td>
                <td>
                            <select name="jurusan" class="text-input">
                                <option value=" "> </option>
                                <option value="IPA">IPA</option>
                                <option value="IPS">IPS</option>
                            </select>

                </td></tr>
             <tr><td valign=top>Sub-Kelas</td>
                <td>
                    <select name="subkelas" class="text-input">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>

                    </select     
                </td></tr>
            <tr><td valign=top>Alamat</td><td><input type="text" name="alamat" required="required" class="text-input" size="80"></td></tr>
            <tr><td valign=top>Telp</td><td><input type="text" name="telp" required="required" class="text-input"></td></tr>
            <tr><td valign=top>Tanggal Lahir</td><td><input type="text" name="tanggal_lahir" required="required" class="text-input"> </td></tr> 
            <tr><td valign=top>Agama</td><td>
                    <select name="agama" class="text-input">
                        <option value="Islam">Islam</option>
                        <option value="Kristen Protestan">Kristen Protestan</option>
                        <option value="Kristen Katolik">Kristen Katolik</option>
                        <option value="Budha">Budha</option>
                        <option value="Hindu">Hindu</option>
                    </select>
                </td></tr>
            <tr><td valign=top>Jenis Kelamin</td><td>
                    <input type="radio" name="kelamin" value="Laki-laki" required="required">Laki-laki
                    <input type="radio" name="kelamin" value="perempuan">Perempuan
                </td></tr>
            <tr><td>&nbsp;</td><td><input type="submit" name="submit" value="Simpan" class="button"></td></tr>
        </table>

    </form>  
{% endblock %}
