{% extends 'SMASMABundle:Public:templatedetail.html.twig' %}

{% block body %}
    <h2>Tentang Kami</h2>
    <p>
        SMA Negeri (SMAN) 11 Medan, merupakan salah satu Sekolah Menengah Atas Negeri yang ada di Provinsi Sumatera Utara, Indonesia. Sama dengan SMA pada umumnya di Indonesia masa pendidikan sekolah di SMAN 11 Medan ditempuh dalam waktu tiga tahun pelajaran, mulai dari Kelas X sampai Kelas XII.
        Pada tahun 2007, sekolah ini menggunakan Kurikulum Tingkat Satuan Pendidikan sebelumnya dengan KBK.
    <dl class="dl-horizontal">
        <dt>Akreditasi :<dt>
        <dd> Nilai Akreditasi : 82</dd> 
        <dd>Peringkat Akreditasi : B</dd>
        <dd>Tanggal Penetapan : 05-Oct-2009.</dd>

        <dt>Fasilitas</dt>
        <dd>Kelas</dd>    
        <dd>Perpustakaan</dd>
        <dd>Laboratorium Biologi</dd>
        <dd>Laboratorium Fisika</dd>
        <dd>Laboratorium Kimia</dd>
        <dd>Laboratorium Komputer</dd>
        <dd>Laboratorium Bahasa.</dd>

        <dt>ekstrakurikuler</dt>
        <dd>PASSDAN</dd>
        <dd>BSC (Bio Sains Community)</dd>
        <dd>BKM</dd>
        <dd>PA</dd>
        <dd>IT Community</dd>
        <dd>LNC (Eleven English Club)</dd>
        <dd>PRAMUKA</dd>
        <dd>FAMOUS-T.</dd>


    </dl>
</p>

<p>
<dl class="dl-horizontal">
    <dt>Alamat :</dt>
    <dd>Jl. Pertiwi No.93 Medan Tembung (20236)</dd>
    <dt>Email :</dt>
    <dd>sman11medan81@yahoo.com</dd>
    <dt>Telpon :</dt>
    <dd>(061) 7382448</dd>
    <dt>NSS :</dt>
    <dd>301076009010</dd>
    <dt>NPSN :</dt>
    <dd>10210875</dd>
</dl>
</p>
{% endblock %} 