{% extends 'SMASMABundle:Public:templatedetail.html.twig' %}

{% block body %}
    <h2>Daftar Link Download File Sekolah</h2>
        <p></p>
    <dl class="dl-horizontal">
        <p></p>
        <dt>Kalender Pendidikan</dt> 
          <p></p>
        <dd font-colour="blue"><a href="">Download Here</a></dd>
        <p></p>
        <dt>Jadwal Sekolah</dt>
          <p></p>
        <dd font-colour="blue"><a href="">Download here</a></dd>
        
    </dl>

{% endblock %} 