{% extends 'SMASMABundle:Public:templatedetail.html.twig' %}

{% block body %}
 
    <dl class="dl-horizontal">
        <dt>Daftar Kelas</dt> 
        <dd><a href="{{ path('check_pegawai_satu') }}">Kelas 10</a> </dd>
        <dd><a href="{{ path('check_pegawai_dua') }}">Kelas 11</a> </dd>
        <dd><a href="{{ path('check_pegawai_tiga') }}">Kelas 12</a> </dd>
    </dl>

{% endblock %} 